<%= drummer.id %>: <%= drummer.name %><br>
<a href="/reservation/<%= drummer.id %>">Make Reservation</a><br>
<a href="/reservations/<%= drummer.id %>">View <%= drummer.name %>'s Reservations</a><br>
<br><br>
<a href="/">Back to Home</a>